html, body {
	/*html and body height is required as map won't appeared*/
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map{
	height: 100%;
	position: relative;
	right: 0;
	left: 350px;
}

#sidebar {
	height: 100%;
	width: 350px;
	background-color: grey;
	position: absolute;
	border: 1px solid grey;
	border-radius: 5px;
	color: white;
}

#filter{
	height: 10%;
	background-color: blue;
}

#marker_list{
	height: 60%;
	width: 100%;
	overflow: auto;
}

.wikipedia-container{
	height: 40%;
	width: 100%;
	background-color: yellow;
	overflow: auto;
	color: blue;
}

li{
	margin: 10px 0 10px 0;
	list-style-type: none;
}

a{
	text-decoration: none;
}


