html,
body{
    /*html and body height is required as map won't appeared*/
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(224, 255, 51, .7);
}

#map {
    height: 100%;
}
.navbar{
    height: 100%;
}

#title{
    text-shadow: 1px 1px 2px rgb(216, 65, 65);
}

#sidebar {
    height: auto;
    width: 15%;
    background-color: rgba(224, 255, 51, .7);
    position: absolute;
    top: 20%;
    left: 2%;
    border: 1px solid  rgba(224, 255, 51, .7);
    border-radius: 20px;
    color: black;
    z-index: 1;
    padding: 10px;
    text-align: center;
}
#hide{
    float: right;
    cursor: pointer;
    background:  rgba(224, 255, 51, .7);
    font-size: 13px;
    font-weight: bolder;
}
#marker_list {
    height: 60%;
    width: 100%;
    overflow: auto;
    align-items: center;
    text-align: left;
}

select {
    margin: 10px 0 10px 0;
    border-radius: 10px;
    height: 25px;
    width: 100%;
}

a {
    text-decoration: none;
}

#loc-list{
    list-style-type: circle;
    border: 1px solid rgba(224, 255, 51, .3);
    border-radius: 20px;
    background:rgba(10, 249, 224, .3);
}

.loc-title{
    cursor: pointer;
    margin: 20px 0 20px 0;
    font-weight: bold;
}
